<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="footer"> 
        <ul class="list" style="color:#000;"><!--contiene todos los links de componentes-->
            <li>
                <a id="link" routerLink="/inicio">Inicio</a>
            </li>
            <li>
                <a  id="link" routerLink="/productos">Productos</a>
            </li>
            <li>
                <a  id="link" routerLink="/nosotros">Nosotros</a>
            </li>
            <li>
                <a  id="link" routerLink="/contacto">Contacto</a>
            </li>
        </ul>
        <div class="social"> <!--social contiene las redes sociales y su respectivo link-->
            <a routerLink="#"><i class="pi pi-instagram"> </i></a>
            <a routerLink="#"><i class="pi pi-facebook"> </i></a>
            <a routerLink="#"><i class="pi pi-twitter"> </i></a>
            <a routerLink="#"><i class="pi pi-youtube"> </i></a>
        </div>
        <p class="copyright">
            todos los derechos reservados a ©ponernombre
        </p>
        <div class="tarjetas"><!--contiene las imagenes de los medios de pago-->
            <img src="../../../assets/Imagenes/visa.png" alt="Visa">
            <img src="../../../assets/Imagenes/paypal.png" alt="paypal">
            <img src="../../../assets/Imagenes/mastercard.png" alt="Mastercard">
        </div>
    </section>
</body>
</html>