<!-- Menu Principal -->
<p-menubar [model]="items" [style]="{'background-color': '#FFDDD2'}">
    <!-- Nombre y Logo -->
    <ng-template pTemplate="start">
        <h2>
            <img src="/assets/Imagenes/icono.png" height="25" class="mr-2" alt="ícono">
            Paris
        </h2>
    </ng-template>
    <!-- Botones -->
    <ng-template pTemplate="end">
        <button type="button" pButton pRipple class="p-button-text" id="boton" icon="pi pi-heart"></button>
        <button type="button" pButton pRipple class="p-button-text" id="boton" icon="pi pi-shopping-cart"></button>
        <button type="button" pButton pRipple class="p-button-text" id="boton" icon="pi pi-user"></button>
    </ng-template>
</p-menubar>