
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 32.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background-attachment: fixed;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 229, 251) no-repeat;
    background-position: center;
    padding-left: 40px;
}

.home .content{
    max-width: 50rem;
    
}

.home .content h3{
    font-size: 6rem;
    color: #333;
    padding-bottom: 5px;
}

.home .content span{
    font-size: 4.0rem;
    color: pink;
    margin-top: 5px;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding: 1rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 20px;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 2rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: pink;
}

.ofertas .descuentos {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


.iconos{
    text-align: center;
    
    margin-top: 90px;

    margin-bottom: 70px;
}

.iconos .icon{
    font-size: 38px;
    color: #e84393;
    margin-bottom: 10px;
}

.iconos .icon:hover{
    font-size: 40px;
    color: #e8439394;
}

.iconos .info h2{
    font-size: 22px;
    margin-bottom: 2p;
}

.iconos .info p{
    font-size: 15px;
    margin-top: 2px;
    color: #999;
}

.separadorrosa{
    background-color: #e84393;
    position: static;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.separadorrosa .textorosa p{
    text-align: center;
    color: #fff;
}

.ofertas .textoofertas h3{
    text-align: center;
    font-size: 40px;
}
.linea {
    border-top: 1.20px solid rgb(155, 155, 155);
    height: 2px;
    max-width: 78px;
    padding: 0;
    margin: 20px auto 0 auto;
    
}
.linea2 {
    border-top: 1.20px solid rgb(155, 155, 155);
    height: 2px;
    max-width: 78px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.parallax{
    display: flex;
    align-items: center;
    height: 350px;
    background: url(../../../assets/Imagenes/parallax.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1346px;
}

.parallax{
    margin-bottom: 20px;
}
.parallax .row{
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    background-color: #e8439367;
    padding: 30px;
    padding-right: 180px;
    border-radius: 2rem;
}
.parallax h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 10px;
    letter-spacing: 8px;
}

.parallax h3{
    font-size: 23px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.parallax h4{
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: 3px;
}

.parallax .row .btn2{
    margin-top: 20px;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 1.7rem;
}

.parallax .row .btn2:hover{
    background: pink;
}