*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 32.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background-attachment: fixed;
}
/*es la parte inicial que contiene la imagen de fondo*/
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* background-image: url(../../../assets/Imagenes/fonditooooo.png); */
    background-size: cover;
    background-position: center;
    padding-left: 40px;
}
/*dicta el tamaño del home*/
.home .content{
    max-width: 50rem;
    
}
/*dicta el diseño del titulo*/
.home .content h3{
    font-size: 7rem;
    color: #850E35;
    padding-bottom: 1px;
}
/*dicta el diseño del subtitulo*/
.home .content span{
    font-size: 5.0rem;
    margin-top: 2px;
    line-height: 1.5;
}
/*dicta el diseño del texto de parrafo*/
.home .content p{
    font-size: 1.5rem;
    color:#850E35;
    padding: 1rem 0;
    line-height: 1.5;
}
/*dicta el diseño del boton de home*/
.btn{
    display: inline-block;
    margin-top: 20px;
    border-radius: 5rem;
    background: #850E35;
    color: #fff;
    padding: 2rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
/*dicta el diseño cuando se interactua con el boton*/
.btn:hover{
    background: pink;
}

/*es el separador que da la bienvenida*/
.separadortexto{
    background-color: #ffffff;
    position: static;
    padding: 50px;
}
/*es el titulo de ese separador*/
.separadortexto h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
    color: #850E35;
}
/*es el parrafo descriptivo de ese separador*/
.separadortexto .textoblanco p{
    text-align: center;
    color: #850E35;
}

/*es el diseño total de los iconos descriptivos*/
.iconos{
    text-align: center;
    background-color: #FFDDD2;
    padding: 50px;
}
/*son los iconos y su diseño*/
.iconos .icon{
    font-size: 38px;
    color: #850E35;
    margin-bottom: 10px;
}
/*son los iconos cuando se interacciona con ellos*/
.iconos .icon:hover{
    font-size: 40px;
    color: #e8439394;
}
/*es el subtituy lo de esos iconos*/
.iconos .info h2{
    font-size: 22px;
    margin-bottom: 2p;
}
/*es la descripcion de esos iconos*/
.iconos .info p{
    font-size: 15px;
    margin-top: 2px;
    color: #850E35;
}

/*es el separador que contiene el background y efecto parralax*/
.parallax{
    display: flex;
    align-items: center;
    height: 350px;
    /* background: url(../../../assets/Imagenes/parallax.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1346px;
}
/*se encuentra el margin del parallax*/
.parallax{
    margin-bottom: 20px;
}
/*diseño de la columna*/
.parallax .row{
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    background-color: #e8439367;
    padding: 30px;
    padding-right: 180px;
    border-radius: 2rem;
}
/*diseño del titulo*/
.parallax h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 10px;
    letter-spacing: 8px;
}
/*diseño subtitulo*/
.parallax h3{
    font-size: 23px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}
/*diseño descripcion*/
.parallax h4{
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: 3px;
}
/*diseño boton*/
.parallax .row .btn2{
    margin-top: 20px;
    border-radius: 5rem;
    background: #850E35;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 1.7rem;
}
/*diseño boton y su interaccion*/
.parallax .row .btn2:hover{
    background: pink;
}

/*diseño del separador rosa de descuento*/
.separadorrosa{
    background-color: #FFC4C4;
    position: static;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
/*descripcion de ese separador*/
.separadorrosa .textorosa p{
    text-align: center;
    color: #850E35;
}

/*titulo de los descuentos y su carrousel*/
.ofertas .textoofertas h3{
    text-align: center;
    font-size: 40px;
    color: #850E35;
}
/*linea decorativa izquierda*/
.linea {
    border-top: 1.20px solid rgb(155, 155, 155);
    height: 2px;
    max-width: 78px;
    padding: 0;
    margin: 20px auto 0 auto;
    
}
/*linea decorativa derecha*/
.linea2 {
    border-top: 1.20px solid rgb(155, 155, 155);
    height: 2px;
    max-width: 78px;
    padding: 0;
    margin: 20px auto 0 auto;
}
/*calesita y sus espacios*/
.ofertas .descuentos {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}