.Caracteristicas{
    font-size: 15px; 
    color: #5c5c5c;
    
    display: flex;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #cccccc; 
    padding-top: 5px;
    padding-bottom: 5px; 
}
.Tituto{
    
    font-size: 25px;
    color: #222222;
}