<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <section class="footer">
        <div class="imagen">
            <img src="../../../assets/Imagenes/icono.png" alt="">
        </div>
        <div class="menu">
            <h2>Menu</h2>
            <ul class="list" style="color:#000;">
                <!--contiene todos los links de componentes-->

                <li>
                    <a id="link" routerLink="/inicio">Inicio</a>
                </li>
                <li>
                    <a id="link" routerLink="/productos">Productos</a>
                </li>
                <li>
                    <a id="link" routerLink="/nosotros">Nosotros</a>
                </li>
                <li>
                    <a id="link" routerLink="/contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="social">
            <!--social contiene las redes sociales y su respectivo link-->
            <h2>Redes sociales</h2>
            <a href="https://www.instagram.com/"><i class="pi pi-instagram"> </i></a>
            <a href="https://es-la.facebook.com/"><i class="pi pi-facebook"> </i></a>
            <a href="https://twitter.com/?lang=es"><i class="pi pi-twitter"> </i></a>
            <a href="https://www.youtube.com/"><i class="pi pi-youtube"> </i></a>
        </div>
        <div class="tarjetas">
            <!--contiene las imagenes de los medios de pago-->
            <h2>Medios de pago</h2>
            <img src="../../../assets/Imagenes/visa.png" alt="Visa">
            <img src="../../../assets/Imagenes/paypal.png" alt="paypal">
            <img src="../../../assets/Imagenes/mastercard.png" alt="Mastercard">
        </div>

    </section>
    <div class="derechos">
        <div class="linea"></div>
        <p class="copyright">
            Todos los derechos reservados a <strong>©Paris</strong> 2022
        </p>
    </div>
</body>

</html>