*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    border: none;
    text-decoration: none;

    transition: .2s linear;
}

html{
    font-size: 32.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/*le da todo el margen para moverlo al centro*/
.contacto{
    margin-left: 100px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

/*abarca toda la seccion del formulario y la imagen divisora*/
.contacto-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

/*es la sección de la izquierda que muestra la imagen*/
.izquierda{
    height: 100%;
    background-image: url("/assets/Imagenes/contacto.jpg");
}

/*es la sección de la derecha que muestra el formulario*/
.derecha{
    padding: 25px 40px;
}

/*el título*/
h2{
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #850E35;
    position: relative;
}

/* Formulario de Contacto */
.formulario{
    width: 100%;
    padding:  0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

/* Ver más */
.btn-producto{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #850E35;
    color: aliceblue;
    padding: .7rem 2rem;
    cursor: pointer;
    font-size: 18px;
    
}

/*es el boton del formulario*/
.boton{
    text-align: center;
}

/*es el boton del formulario que si se toca cambia de color*/
.btn-producto:hover{
    background-color: #FFC4C4;
}