<!-- Es el Contacto -->
<!-- <section class="contacto">
    <div class="container">
        <div class="contacto-box">
            <div class="izquierda">
            </div>
            <div class="derecha">
                <h2>Contáctanos</h2>
                <span class="p-float-label">
                    <input id="float-input" class="formulario" type="text" pInputText> 
                    <label for="float-input" class="label">Nombre</label>
                </span>
                <span class="p-float-label">
                    <input id="float-input" class="formulario" type="text" pInputText> 
                    <label for="float-input">Apellido</label>
                </span>
                <span class="p-float-label">
                    <input id="float-input" type="text" class="formulario" pInputText> 
                    <label for="float-input">Correo electrónico</label>
                </span>
                <span class="p-float-label">
                    <textarea [rows]="5" [cols]="30" class="formulario"></textarea>
                    <label for="float-input">Mensaje</label>
                </span>
                <button pButton routerLink="/productos" type="button" class="btn-producto">Enviar</button>
            </div>
        </div>
    </div>
</section> -->
<!-- Este es de Ampi -->

<form class="form" action="mailto:vickingiediaz19@gmail.com" method="post" enctype="text/plain">
    <div class="formulario">
        <h2>Contáctanos</h2>
        <label for="name">
            Nombre
            <input name="user_name" id="nombre" type="text" pattern=".+@beststartupever\.com">
        </label>
        <label for="mail">
            Your Email
            <input name="user_email" id="email" type="email">
        </label>
        <label for="msg">
            Tu Mensaje
            <textarea name="user_message" id="mensaje"></textarea>
        </label>

        <input type="submit" value="Enviar">
    </div>
</form>
<!-- Este el nuevo que estoy editando -->