<section class="top-productos" id="top-productos">
    <div class="texto">
        <h1>Todo nuestro maquillaje</h1>
    </div>
    <div class="row productos">
        <div class="col-3 tarjetas" *ngFor="let col of coleccionProductos">
            <p-card  [style]="{width: '240px'}" >

                <ng-template class="template" pTemplate="header" >
                    <img [src]="col.imagen" routerLink="/productos" alt="" width="400px" height="250px">
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="descripcion">
                        <h2 class="tit">{{col.nombre}}</h2>
                        <div class="price">{{col.marca}}</div>
                        <div class="price" style="margin-top: 10px; font-size:20px;" >${{col.precio}}</div>
                    </div>

                    <div class="iconos">
                        <p-button (click)="showBasicDialog(col)" icon="pi pi-external-link" label="Ver mas"></p-button> 
                        <a href="" class="pi pi-heart-fill favorito"></a>
                        <a href="" class="pi pi-shopping-cart carrito"></a>
                    </div>
                    
                </ng-template>
            </p-card>
        </div>

    </div>
    <p-dialog  header="Caracteristicas" [(visible)]="modalVisible" [style]="{width: '50vw'}">
        <ng-container *ngIf="modalVisible">
          <div class="row">
            <div class="col-lg-4">
              <img class="img-fluid" [src]="carSeleccionado.Logo" width="80px" height="140px">
            </div>
            <div class="col-lg-8">
              <h1 class="vehiculos">{{carSeleccionado.Nombre}}</h1>
            </div>
            <div class="col-lg-8">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img [src]="carSeleccionado.Imagen1" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img [src]="carSeleccionado.Imagen2" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img [src]="carSeleccionado.Imagen3" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img [src]="carSeleccionado.Imagen4" class="dblock w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div> 
             
            </div>
            <div class="col-lg-4">
              <div class="row">
               
                <div class="col-12">
                  <div class="Vehiculo-datoTecnico" style="border-top: 1px solid #CCCCCC; ">Marca: {{carSeleccionado.Marca}}</div>
                  <div class="Vehiculo-datoTecnico">Modelo: {{carSeleccionado.Modelo}}</div>
                  <div class="Vehiculo-datoTecnico">Color exterior: {{carSeleccionado.Color_exterior}}</div>
                  <div class="Vehiculo-datoTecnico">Interior: {{carSeleccionado.Interior}}</div>
                  <div class="Vehiculo-datoTecnico">Carroceria: {{carSeleccionado.Carroceria}}</div>
                  <div class="Vehiculo-datoTecnico">Puertas: {{carSeleccionado.Puertas}}</div>
                  <div class="Vehiculo-datoTecnico">Motor: {{carSeleccionado.Motor}}</div>
                  <div class="Vehiculo-datoTecnico">Transmisión: {{carSeleccionado.Transmision}}</div>
                  <div class="Vehiculo-datoTecnico">Kilometraje: {{carSeleccionado.Kilometraje}}</div>
                   <div class="Vehiculo-datoTecnico">Combustible: {{carSeleccionado.Combustible}}</div>
                  <div class="Vehiculo-datoTecnico">Precio: ${{carSeleccionado.Precio}}</div> 
                </div>
              </div>
            </div> 
          </div> 
          
          
        </ng-container>
        <ng-template pTemplate="footer">
          <p-button icon="pi pi-times" (click)="modalVisible=false" label="Salir" styleClass="p-button-text"></p-button>
      </ng-template>
      </p-dialog>
</section>

