.categoria{
    text-align: center;
}

#editar{
    background-color: #A8E890;
    border-color: white;
}

#eliminar{
    background-color: #E64848;
    border-color: white;

}

#agregar{
    background-color: #59C1BD;
    border-color: white;
}