.row{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

#calesita{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
}

.categoria{
    text-align: center;
}

/* BOTONES */
#editar{
    background-color: #8BDB81;
    border-color: white;
}

#editar:hover{
    background-color: #5FD068;
}

#eliminar{
    background-color: #E64848;
    border-color: white;

}

#eliminar:hover{
    background-color: #EB1D36;
}

#agregar{
    background-color: #59C1BD;
    border-color: white;
}

#agregar:hover{
    background-color: #219F94;
}