<div class="container">
    <div class="row">
        <h1 class="titulo" style="font-size: 60px; color: #850E35;font-family: 'Asap', sans-serif;">Nosotros</h1>
        <p-divider align="left" type="dashed">
            <div class="inline-flex align-items-center">
                <h2 class="subtitulo">Nuestra historia</h2>
            </div>
        </p-divider>
        <div class="texto">
            <p class="textito">Somos un pequeño emprendimiento que surgió en Cipolletti, llevamos ya 2 años de recorrido
                y
                nos esforzamos por dar una buena experiencia y calidad de productos para todos.<br>
                Actualmente nos manejamos 100% online, por lo que podrán contactarnos a través de un
                formulario dirigido a gmail desde "Contacto" <a routerLink="/contacto">(click aquí)</a> o en
                las redes sociales que encontrarán al final de esta página.</p>
        </div>

        <p-divider align="left" type="dashed">
            <div class="inline-flex align-items-center">
                <h2 class="subtitulo">¿Qué ofrecemos?</h2>
            </div>
        </p-divider>
        <div class="texto">
            <p class="textito">Podrán encontrar productos específicos para ojos, labios y rostro, siendo así, por
                sección:</p>
        </div>
        <div class="texto">
            <h3 class="subtitulo2">Ojos</h3>
            <p class="textito">Paleta de sombras, delineador de ojos líquido, delineador a lápiz.</p>
        </div>
        <div class="texto">
            <h3 class="subtitulo2">Labios</h3>
            <p class="textito">Tinta labial, brillo para labios, labial matte, brillo labial con gloss.</p>
        </div>
        <div class="texto">
            <h3 class="subtitulo2">Rostro</h3>
            <p class="textito">Bronzer en crema, rubor líquido, rubor en polvo, iluminador, corrector, polvo fijador.
            </p>
        </div>

        <p-divider align="left" type="dashed">
            <div class="inline-flex align-items-center">
                <h2 class="subtitulo">¿Cuál es nuestra misión?</h2>
            </div>
        </p-divider>
        <div class="texto">
            <p class="textito">Buscamos brindar los mejores productos y de precios accesibles, que puedan satisfacer
                lo que usted desea y se pueda aplicar sin ningún problema, así como las bases en crema,
                especiales para cada tipo de piel, y próximamente productos que no estén testados animales
                ni sean de origen animal.</p>
        </div>
    </div>
    <!-- Redes Sociales -->
    <div class="row">
        <h2 class="titulo" style="font-family: 'Asap', sans-serif; font-size: 45px;">Redes sociales</h2>
        <div class="social_media">
            <div class="card">
                <div class="icon">
                    <i class="pi pi-whatsapp"></i>
                </div>
                <strong>
                    WhatsApp
                </strong>
                <div class="card__body">
                    <a href="tel: 2992343576">2992343576</a>
                </div>
                <span>
                    <a href="tel: 2992343576">2992343576</a>
                </span>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="pi pi-instagram"></i>
                </div>
                <strong>
                    Instagram
                </strong>
                <div class="card__body">
                    <a href="https://www.instagram.com/">@Paris_24</a>
                </div>
                <span>
                    <a href="https://www.instagram.com/">@Paris_24</a>
                </span>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="pi pi-facebook"></i>
                </div>
                <strong>
                    Facebook
                </strong>
                <div class="card__body">
                    <a href="https://www.facebook.com/">Paris</a>
                </div>
                <span>
                    <a href="https://www.facebook.com/">Paris</a>
                </span>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="pi pi-google"></i>
                </div>
                <strong>
                    Gmail
                </strong>
                <div class="card__body">
                    <a href="https://mail.google.com/">paris@gmail.com</a>
                </div>
                <span>
                    <a href="https://mail.google.com/">paris@gmail.com</a>
                </span>
            </div>
        </div>
    </div>
</div>