<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <b>Nuestra historia</b>
    </div>
</p-divider>
<div>
    Somos un pequeño emprendimiento que surgió en Cipolletti, llevamos ya 5 años de recorrido y 
    nos esforzamos por dar una buena experiencia y calidad de productos.
</div>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <b>¿Qué ofrecemos?</b>
    </div>
</p-divider>
<p-panel header="Ojos">
    <p>
        Paleta de sombras, delineador de ojos líquido, delineador a lápiz.
    </p>
</p-panel>
<p-panel header="Labios">
    <p>
        Tinta labial, brillo para labios, labial matte, brillo labial con gloss.
    </p>
</p-panel>
<p-panel header="Rostro">
    <p>
        Bronzer en crema, rubor líquido, rubor en polvo, iluminador, corrector, polvo fijador.
    </p>
</p-panel>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <b>¿Cuál es nuestra misión</b>
    </div>
</p-divider>
<div>
    Buscamos brindar los mejores productos y de precios accesibles, que puedan satisfacer 
    lo que usted desea y se pueda aplicar sin ningún problema, así como las bases en crema, 
    especiales para cada tipo de piel.
</div>

<p-card header="Nuestras Redes Sociales" class="titulo">
    <!-- WhatsApp -->
    <p-card header="WhatsApp" [style]="{width: '200px'}" styleClass="p-card-shadow" class="card">
        <ng-template pTemplate="header">
            <img alt="WhatsApp" src="assets/Imágenes/whatsapp.png">
        </ng-template>
        <ng-template pTemplate="footer">
            <i class="pi pi-whatsapp"></i>
            <a href="tel: 2992343576">2992343576</a>
        </ng-template>
    </p-card>

    <!-- Facebook -->
    <p-card header="Facebook" [style]="{width: '200px'}" styleClass="p-card-shadow" class="card">
        <ng-template pTemplate="header">
            <img alt="Facebook" src="assets/Imágenes/facebook.png">
        </ng-template>
        <ng-template pTemplate="footer">
            <i class="pi pi-facebook"></i>
            <a href="https://www.facebook.com/">Paris24</a>
        </ng-template>
    </p-card>

    <!-- Instagram -->
    <p-card header="Instagram" [style]="{width: '200px'}" styleClass="p-card-shadow" class="card">
        <ng-template pTemplate="header">
            <img alt="Instagram" src="assets/Imágenes/instagram.png">
        </ng-template>
        <ng-template pTemplate="footer">
            <i class="pi pi-instagram"></i>
            <a href="https://www.instagram.com/">@Paris_24</a>
        </ng-template>
    </p-card>

    <!-- Google -->
    <p-card header="Google" [style]="{width: '200px'}" styleClass="p-card-shadow" class="card">
        <ng-template pTemplate="header">
            <img alt="Gmail" src="assets/Imágenes/gmail.png">
        </ng-template>
        <ng-template pTemplate="footer">
            <i class="pi pi-google"></i>
            <a href="https://mail.google.com/">paris24@gmail.com</a>
        </ng-template>
    </p-card>
</p-card>