<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <!-- <i class="pi pi-user mr-2"></i> -->
        <b>Nuestra historia</b>
    </div>
</p-divider>
<div>
    Somos un pequeño emprendimiento que surgió en Cipolletti, llevamos ya 5 años de recorrido y 
    nos esforzamos por dar una buena experiencia y calidad de productos.
</div>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <!-- <i class="pi pi-user mr-2"></i> -->
        <b>¿Qué ofrecemos?</b>
    </div>
</p-divider>
<div>
    Nos dirigimos a la venta de cosméticos y productos de belleza, encontrandose entre ellos 
    maquillaje para ojos, labios y rostro, como puede ser brochas, labiales, polvos o rimel.
</div>